{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/medium-editor/dist/css/medium-editor.css">
<link rel="stylesheet" href="/static/medium-editor/dist/css/themes/default.css">

<script src="/static/medium-editor/dist/js/medium-editor.min.js"></script>
{% endblock head %}


{% block main %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="text-center"><div id="etitle" class="editable center-block">
                {{ post.title | safe }}
        </div></h2>
    </div>
</div>
<div clas="row">
    <div class="col-sm-8 col-sm-offset-2" >
        <div class="editable" id="ebody" style="height:200px;">
            {{ post.body | safe }}
        </div>
        <div class=row>
            <div class="col-12-sm">
        <PRE>Values returned:
---title---
{{ post.title }}
---body---
{{ post.body }}
        </PRE>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row">
            <button id="save" type="button" class="btn btn-primary">Save</button>
        </div>
        <div class="row">
            <div class="alert alert-success" style="display: None;">Hurray! it saved!</div>
            <div class="alert alert-danger" style="display: None;"><h4>Oh Snap!</h4> reason: </div>
        </div>
    </div>
</div>

<input id=crsf type=hidden value="{{ csrf_token() }}">

<script>
    var post_editor = new MediumEditor('#ebody');
    var title_editor = new MediumEditor('#etitle', { 
        buttons: ['bold', 'italic', 'quote']
    });

    // Callback to make a post as json
    $("#save").click(function(){ 
        var body = $("#ebody")[0].innerHTML,
        title = $("#etitle")[0].innerHTML,
        payload = {};

        payload["body"] = $.trim(body);
        payload["title"] = $.trim(title);
        payload["_csrf_token"] = $("#crsf").val();

        function success(d, tS, jqXhr){
            $('.alert').css({"display": "none"})
            $('#ebody').html(d.body);
            $('#etitle').html(d.title);
            $('.alert-success').show(200).delay(5000).hide(500);
        };

        function failure(jqXHR, e, reason){
            $('.alert').css({"display": "none"})
            $('.alert-danger').show(200).delay(6000).hide(500);
            $('.alert-danger').html("<h4>Oh snap!</h4> " + reason);
        };

        console.log(payload);
        $.ajax({
            type: "PUT",
            url: "{{ url_for('edit_post', post_id=post.id) }}",
            data: JSON.stringify(payload),
            success: success,
            error: failure,
            dataType: "json",
            contentType: "application/json"
        });
    }); 

</script>
{% endblock main %}
