body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#edit-title {
    height: 50px;
    font-size: 30px;
    width: 100%;
    border: 0px;
}

#body-split-screen {
    height: 400px
}

#edit-body {
    height: 400px;
}

#edit-preview {
    height: 400px;
    overflow-y: auto;
    word-wrap: break-word;
}
